:root{
	--pri-color: #00776e;
	--sec-color: #fdbc00;	
} 

section.banner{
  padding: 20vh 0 10vh; 
  background: url(../imgz/innerbanner.png) no-repeat center center;
  background-size: 100%;
  position: relative;
  text-align: center;
}
section.banner::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .75; 
}
section.banner .caption{
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
.banner .caption h1{
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1;
}
section.banner .caption h1,
section.banner .caption p{
  color: #eef;
  margin: 25px 0 20px;
}

/* Reachout Rulesets */
section.reach{
  gap: 5rem; 
  position: relative;
  margin: 100px auto;
  background: url(../imgz/bg/coins.png) no-repeat bottom left / contain;
  background-size: 35%; 
}
section.reach > div{
  width: 100%;
  /* border: 2px solid salmon; */
  height: 100%;
}
section.reach .contentBx{
  padding: 2.3em 2.2em;
  padding-left: 9em;
}
.conta{
  margin-top: 3rem;
}
.conta > div{
  width: 100%;
}
.conta p{
  font-size: 1.1rem;
}

.conta span i{
  margin-right: 7px;
  color: #4455ff; 
  color: var(--pri-color);  
}


.form{
  padding: 20px;
  padding-right: 9em;

}
.form form{
  padding: 5em 2.5em;
  z-index: 0;
  overflow: hidden;
  position: relative;  
  border-radius: 5px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
form .title{
  color: #1B2F33;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: .7em;
}
form .input-container{
  position: relative;
  margin: 1em 0;

} 
form .input-container .input{
  width: 100%;
  outline: none;
  border: 1px solid #1B2F33;
  background: none;
  padding: .6em 1.2em;
  color: #1B2F33; 
  font-weight: 200;
  font-size: 0.95rem;
  letter-spacing: .5px;
  border-radius: 25px;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(184, 224, 230);
}
form textarea.input{
  padding: .8em 1.2em;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}
form .input-container label{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 .4em;
  color: #1B2F33;
  font-weight: 300;
  font-size: 0.9rem;
  pointer-events: none;
  z-index: 10;
  transition: .5s;
  font-family: 'Source Sans Pro', sans-serif;
}
form .input-container.textarea label{ 
  transform: translateY(-50%);
}

form .subm-btn{
  padding: .55em 2.75em; 
  border: 2px solid #fafafa;
  font-size: 0.95em; 
  font-weight: 600;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  transition: .3s;
  float: right;
  display: flex;
  align-items: center; 
  font-weight: 500;
  font-size: 16px; 
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}
form .subm-btn:hover{ 
  color: #fff;
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}
form .subm-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.form .input-container span{
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 .4em;
  color: transparent;
  pointer-events: none; 
}
.input-container span::before,
.input-container span::after{
  content: '';
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: .3s;
  height: 5px;
  background-color: var(--acn-color); 
  background-color: white; 
  top: 50%;
  transform: translateY(-50%);
}
.input-container span::before{
  left: 50%;
}
.input-container span::after{
  right: 50%;
}
.input-container.focus label{
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}
.input-container.focus span::before,
.input-container.focus span::after{
  width: 50%;
  opacity: 1;   
}

.form .icon{
  width: 28px;
  color: var(--sec-color); 
}

.reach .ball{
  width: 100px;
  position: absolute;
  z-index: -1;
}
.ball.blue{
  right: 8.5%;
  top: 21%;
}
.ball.yellow{
  right: 38%;
  bottom: 19%;
}
/* End of Reachout Rulesets */